.calc-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.calc-header {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
  color: #627f90;
}
.calc-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.calc-screen {
  width: auto;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 2em;
  border-color: #87c1e5;
  outline: none;
  box-shadow: 0 0 10px #627f90;
  text-align: right;
}
.calc-numbers {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3px;
  width: 100%;
  padding: 0;
  margin: 0;
}
button.sign-button {
  background-color: #b8c9d3;
}
button.equals-button {
  background-color: #627f90;
}
button.reset-button {
  background-color: #dcab8a;
}
button.reset-button:hover {
  background-color: #c88a5e;
}
