body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}
.todo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.todo-header {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
  color: #627f90;
}
.todo-body {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.todo-input {
  width: auto;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 12px;
  font-size: 1em;
}
.todo-input:focus {
  border-color: #87c1e5;
  outline: none;
  box-shadow: 0 0 10px #627f90;
}
.todo-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}
.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 10px;
  border-bottom: 2px solid #eee;
  border-radius: 15px;
}
.todo-item input[type="checkbox"] {
  margin-right: 10px;
}
.todo-item:hover {
  background-color: #f9f9f9;
}
